*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 20px;
    display:flex;;
    justify-content: space-evenly;
    gap: 20px;
    align-items:center ;

}
.nav {
     display: inline;
  align-items: center;
  justify-content: center;

  padding: 15px 40px;
}

.nav li{ 
list-style: none;
  display: inline;
  padding: 10px;
  
}
.nav li a{
    text-decoration: none;
    color: grey;
}

.container{
    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
#box1 {
    font-size: 15px;
    width: 300px;
     padding:15px; 
    margin: 50px;
    color: grey;

}
h1{  
    padding: 3px;
    line-height: 1.6em;}
.h2{
    color:aqua
}
p{
    font-size: 20px;
    padding: 2px;
    margin: 8px;
    display: block;
}
button{
margin-left: 20px;
padding: 10px;
display: block;
border: grey solid 1px;
border-radius: 20px ;
background-color: aqua;
color: white;
}
.button{
    width: 200px;
    border: none;
    height: 40px;
}
.username{
    width: 100px;
    border: none;
    background-color:lightblue;
    color: blue
}
#box2 img{ 
    width: 300px;
    height: auto;
    margin: 50px;
     padding:10px; 
    
}